/* Add CSS Styling */
.black-bg-with-text,
.yellow-bg {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.black-bg-with-text {
  background-color: black;
  color: white;
}

.yellow-bg {
  background-color: yellow;
}
