body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  border-bottom: 8px solid white;
}

.button-container {
  background: #e3f4ff;
  padding: 9px;
  text-align: center;
}

button {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
  border: 0px solid white;
}
